NEXT_PUBLIC_APP_URL=https://zemafidelat.com
NEXT_PUBLIC_APK_DOWNLOAD_URL=https://www.dropbox.com/scl/fi/ge5smnv8oa5xwhtygdi6r/ZemaFidelat-1.0.0-release.apk?rlkey=cnfqzmdi1o9klw3kvgrrz8edo&st=bdtn3ejr&dl=1
